<!-- <input
  type="text"
  class="w-full text-blue-900 h-10 group-hover:cursor-pointer outline-none"
  ngxDaterangepickerMd
  [(ngModel)]="selected"
/> -->

<input
  type="text"
  ngxDaterangepickerMd
  [(ngModel)]="selected"
  (ngModelChange)="selectDate($event)"
  [showCustomRangeLabel]="true"
  [alwaysShowCalendars]="true"
  [ranges]="ranges"
  [linkedCalendars]="true"
  [showClearButton]="false"
  [showClearButton]="true"
  placeholder="Select please..."
  class="w-full text-blue-900 h-10 group-hover:cursor-pointer outline-none"
/>
