/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// add the code bellow
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

.md-drppicker {
  left: 60vw !important;
  top:115px !important;
  @media (max-width: 1440px) {
    left: 46vw !important;

  }
}
.ranges {
  padding: 20px 30px !important;
  margin: 20px 0 !important;
  color: #2B4196 !important;
  border-right: solid 2px #E2E8F0 !important ; 
}

.buttons_input {

  // Style the first button
  button:first-child {
    border: solid 1px #2B4196 !important;
  color: #2B4196 !important;
  background: transparent !important;
  height: 40px !important;
  border-radius: 6px !important;
  padding: 0 20px !important;
  margin-right: 10px !important;
  
  svg {
    display: none !important;
  }
  }

  // Style the second button
  button:nth-child(2) {
    position: relative !important;
    background-color: #2B4196 !important;
    color: white !important;
    padding: 0 20px !important;
    border: none;
    border-radius: 6px !important;
    height: 40px !important;
    box-shadow: none;
  }

}

.highcharts-column-series {

  // Your SCSS styles
path {
  // Set the fill color using the variable
  fill: #2B4196 !important;
}

}
.highcharts-yaxis, .highcharts-yaxis-labels, .highcharts-legend, .highcharts-grid-line, .highcharts-axis-line   {
  display: none !important;
}
